@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");

body {
  font: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
.card1 {
  /* -------------- */
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* .................... */
  min-width: 230px;
  min-height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 4px solid #c3c6ce;
  transition: 0.5s ease-out;
}

.f {
  display: flex;
  margin-bottom: 49px;
  margin-left: 84px;
}

.text-title {
  color: #008bf8;
}
.text-body {
  color: #565a5c;
  padding: 1rem;
}
::selection {
  background-color: #70b5e9;
}
.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  margin: 1rem;
  display: grid;
  place-content: center;
}
.img-contener {
  position: absolute;
  top: -57px;
  left: 7px;
}
.text-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 10rem;

  font: 1em sans-serif;
  text-align: center;
  font-weight: bold;
}
.txtn {
  height: 10rem;
  overflow: scroll;
  margin-top: 2rem;
  font: 0.75em sans-serif;
}
.c-button {
  text-align: center;
}
.c-button span {
  padding: 2rem !important;
}
.c-button input[type="button"] {
  border: none;
  /* padding: 2rem; */
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 1rem;
}
input[type="button"]:hover {
  background-color: #70b5e9;
}
img {
  width: 200px;
}
.link a {
  text-decoration: none;
  color: brown;
}

.card-button {
  transform: translate(-50%, -125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #bb2d3b;
  border: 4px solid #bb2d3b;
  color: #fff;
  /* font-size: 1rem; */
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
/* text */
.card1:hover {
  /* border-color: #008bf8; */
  border-color: #bb2d3b;
  box-shadow: 0 4px 18px 0rgba (0, 0, 0, 0.25);
}
.card1:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card-button:hover {
  color: #000000;
}
.M:hover {
  box-shadow: 0 20px 40px rgba(10, 11, 12, 0.24);
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}
.M img {
  max-width: 10em;
  /* min-width: 30%; */
  position: absolute;
  top: -20%;
  left: 10%;
}
.M p {
  font-size: 1.2rem;
  margin-top: 130px;
}

.M p::after {
  content: "";
  height: 4px;
  width: 43%;
  background: #306605;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  top: 173px;
  right: 47px;
  border-radius: 20px;
}

.M a {
  text-decoration: none;
  color: #002d50;
}

.M {
  margin-top: 120px;
  display: flex;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  max-height: 200px;
  align-items: center;
  box-shadow: 0 3.42907px 12.0018px rgba(155, 204, 244, 0.241231);
  border-radius: 100% 100% 10% 100%/90% 90% 10% 90%;
  padding-bottom: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
}

.M::after {
  font-size: 10rem;
  content: ".";
  color: #e4ebf4;
  position: absolute;
  top: 1px;
  left: 80%;
}

span img {
  width: 70px;
  position: absolute;
  right: 9px;
  top: 7px;
}
