#pagelogo {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  color: #d4403a;
  font-size: 1.5rem;
  line-height: 0;
  transition: 0.5s;
}
#pagelogo:hover {
  text-shadow: #d4403a 0px 5px 15px;
}
.active {
  color: #d4403a;
}
.a{
  position: absolute !important;
  right: 62px !important;
  top: 0px !important;
}

@media only screen and (max-width: 770px) {
  .a{
    position:static !important;
  }
  }