#pagelogo {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  color: #d4403a;
  font-size: 1.5rem;
  line-height: 0;
  transition: 0.5s;
}
#pagelogo:hover {
  text-shadow: #d4403a 0px 5px 15px;
}
#navbarNav .active {
  color: #d4403a;
}

#cartHolder {
  position: relative;
}
#cartQuantity {
  font-size: 0.8em;
  background-color: rgb(184, 127, 127);
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  right: -10px;
  top: -8px;
  color: white;
}
